.triptransaction-main {
    background: var(--Navy--Gredient, linear-gradient(153deg, #0A0E31 14.49%, #040511 80.82%)) !important;
    position: relative !important;
    height: calc(100vh - 5rem) !important;

}

.bg-gradient {
    height: 332px !important;
    border-radius: 0px 0px 36px 36px !important;
    background: linear-gradient(118deg, #8521D4 0%, #E890D9 100%) !important;

}

.icon-container {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 3rem 1.5rem 0rem 1.5rem !important;

}

.backarrow-icon {
    background: var(--Navy, #0A0E31) !important;
    opacity: 0.25 !important;
    padding: 0.5rem !important;
    border-radius: 100% !important;
    width: 40px !important;
    height: 40px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    box-sizing: border-box !important;
}

.receipt-icon {
    width: 20px !important;
    height: 20px !important;
    opacity: 0.7 !important;
}

.trip-info {
    width: 167px;
    margin: auto;
}

.countryname {
    color: var(--White, #FFF) !important;
    text-align: center !important;
    font-family: 'DM Sans' !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 16px !important;

}

.tripdate {
    color: var(--White, #FFF) !important;
    text-align: center !important;
    font-family: 'DM Sans' !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 16px !important;

}

.flag-img {
    width: 35.328px !important;
    margin: auto !important;
}

.flag-img>img {
    width: 35.328px !important;
    padding-top: 9px !important;
}

.total-reclaim {
    color: var(--White, #FFF) !important;
    text-align: center !important;
    font-family: 'DM Sans' !important;
    font-size: 32px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 48px !important;

}

.reclaim-amount {
    color: var(--White, #FFF) !important;
    text-align: center !important;
    font-family: 'DM Sans' !important;
    font-size: 32px !important;
    font-style: normal !important;
    font-weight: 700 !important;

}

.tnc-container {
    width: 278px !important;
    margin: auto !important;
    padding: 1rem !important;
}

.tnc-content {
    color: var(--White, #FFF) !important;
    opacity: 0.7 !important;
    text-align: center !important;
    font-family: 'DM Sans' !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 16px !important;

}

.tnc-content>span {
    color: #4F38D6 !important;
    font-family: 'DM Sans' !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 16px !important;
}

.status-note {
    display: flex !important;
    flex-direction: column !important;
    width: 99% !important;
}

.transaction-status {
    margin: auto !important;
    width: 195px !important;
    padding-top: 1.5rem !important;
    position: relative !important;

}

.status-label {
    position: absolute !important;
    top: 55% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: max-content !important;
    color: var(--White, #FFF) !important;
    font-family: 'DM Sans' !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 18px !important;
    letter-spacing: -0.08px !important;

}

.note-label {
    opacity: 0.7 !important;
    color: var(--White, #FFF) !important;
    text-align: center !important;
    font-family: 'DM Sans' !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 16px !important;
    width: 267px !important;
    margin: auto !important;

}

.process-list {
    opacity: 0.7 !important;
    color: var(--White, #FFF) !important;
    text-align: center !important;
    font-family: 'DM Sans' !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 18px !important;
    width: 175px !important;
    letter-spacing: -0.08px !important;
    margin: 1rem 0 0 0.5rem !important;

}

.triptransactionlist-container {
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 24px !important;

}

.triptransactionlist-content {
    display: flex !important;
    margin: 0px 20px 0px 20px !important;
    gap: 1rem !important;
    align-items: center !important;

}

.company-icon {
    position: relative !important;
    width: 15% !important;
    height: 40px !important;
    border-radius: 8px !important;
    background: var(--BG, #E9E9E9) !important;

}

.company-icon>img {
    position: absolute !important;
    top: 7px !important;
    left: 10px !important;
}

.transaction-info {
    width: 55% !important;
    display: flex !important;
    flex-direction: column !important;
}

.company-name {
    color: var(--White, #FFF) !important;
    font-family: 'DM Sans' !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 22px !important;
    letter-spacing: -0.18px !important;

}

.transaction-type {
    color: var(--White, #FFF) !important;
    font-family: 'DM Sans' !important;
    font-size: 13px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 16px !important;
    letter-spacing: -0.065px !important;
    opacity: 0.5 !important;

}

.transactionamount-info {
    width: 30% !important;
    display: flex !important;
    flex-direction: column !important;
    text-align: end !important;
}

.transaction-amount {
    color: var(--White, #FFF) !important;
    font-family: 'DM Sans' !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 22px !important;
    letter-spacing: -0.18px !important;

}

.triptransaction-status {
    color: #62DBBB !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    font-family: 'DM Sans' !important;
    font-size: 13px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 16px !important;
    letter-spacing: -0.065px !important;
    opacity: 0.5 !important;

}

.black-footer {
    background: var(--Navy_Dark, #040511);
    color: white;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: -webkit-fill-available !important;
}

.footer-content {
    display: flex !important;
    justify-content: space-around !important;
}